---
interface Props {
    title: string;
    lang: string;
}

let { title, lang } = Astro.props;

import config from "@config";
import "@styles/main.scss";
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1" />
        <meta name="generator" content={Astro.generator} />
        <link
            href={new URL("atom.xml", Astro.site)}
            type="application/atom+xml"
            rel="alternate"
            title=`${config.name} RSS`
        />
        <link rel="icon" type="image/ico" href={new URL("favicon.ico", Astro.site)} />
        <link rel="sitemap" href={new URL("sitemap-index.xml", Astro.site)} />
    </head>
    <body>
        <slot />
    </body>
</html>
