---
import { Icon } from "astro-icon/components";
import { buildInfo } from "@lib/build.ts";
---

<footer class="w-full my-6">
    <div class="container mx-auto w-full">
        <div class="secondary">
            <p>Copyleft (ɔ) {new Date(buildInfo.time).getFullYear()} 黎明余光</p>
            <p>自豪地采用 {Astro.generator}，于 <time datetime={new Date(buildInfo.time).toISOString()}>{new Date(buildInfo.time).toISOString()}</time> 构建 <a href={`https://github.com/${buildInfo.repo}/commit/${buildInfo.commit}`} target="_blank" rel="noopener">commit/{buildInfo.commit.slice(0, 7)}</a></p>
        </div>
        <div>
            <!-- <Icon name="mdi:heart" class="inline-block align-middle text-red-500" /> -->
        </div>
    </div>
</footer>

<style lang="scss">
    .secondary {
        color: md-color("secondary", "light");
    }

    p {
        margin: 0.125rem 0;
    }
</style>
