---
import { Icon } from "astro-icon/components";
---

<footer class="w-full">
    <div class="container mx-auto w-full py-6 px-6 flex flex-col md:flex-row justify-between items-center gap-4">
        <p class="copyright">Copyleft (ɔ) 2025 黎明余光</p>
        <p class="theme">
            {Astro.generator}
        </p>
    </div>
</footer>
