---
import { Icon } from "astro-icon/components";
---

<footer class="footer">
    <div class="footer-wrapper">
        <p class="copyright">Copyleft (ɔ) 2025 黎明余光</p>
        <p class="theme">
            {Astro.generator}
        </p>
    </div>
</footer>
