@use 'sass:map';
@use 'sass:list';

// .light {
//     --md-sys-color-primary: rgb(52 97 142);
//     --md-sys-color-surface-tint: rgb(52 97 142);
//     --md-sys-color-on-primary: rgb(255 255 255);
//     --md-sys-color-primary-container: rgb(209 228 255);
//     --md-sys-color-on-primary-container: rgb(23 73 116);
//     --md-sys-color-secondary: rgb(83 95 112);
//     --md-sys-color-on-secondary: rgb(255 255 255);
//     --md-sys-color-secondary-container: rgb(214 228 247);
//     --md-sys-color-on-secondary-container: rgb(59 72 88);
//     --md-sys-color-tertiary: rgb(106 87 121);
//     --md-sys-color-on-tertiary: rgb(255 255 255);
//     --md-sys-color-tertiary-container: rgb(241 218 255);
//     --md-sys-color-on-tertiary-container: rgb(82 64 96);
//     --md-sys-color-error: rgb(186 26 26);
//     --md-sys-color-on-error: rgb(255 255 255);
//     --md-sys-color-error-container: rgb(255 218 214);
//     --md-sys-color-on-error-container: rgb(147 0 10);
//     --md-sys-color-background: rgb(248 249 255);
//     --md-sys-color-on-background: rgb(25 28 32);
//     --md-sys-color-surface: rgb(248 249 255);
//     --md-sys-color-on-surface: rgb(25 28 32);
//     --md-sys-color-surface-variant: rgb(223 227 235);
//     --md-sys-color-on-surface-variant: rgb(66 71 78);
//     --md-sys-color-outline: rgb(115 119 127);
//     --md-sys-color-outline-variant: rgb(195 199 207);
//     --md-sys-color-shadow: rgb(0 0 0);
//     --md-sys-color-scrim: rgb(0 0 0);
//     --md-sys-color-inverse-surface: rgb(46 49 53);
//     --md-sys-color-inverse-on-surface: rgb(239 240 247);
//     --md-sys-color-inverse-primary: rgb(159 202 252);
//     --md-sys-color-primary-fixed: rgb(209 228 255);
//     --md-sys-color-on-primary-fixed: rgb(0 29 53);
//     --md-sys-color-primary-fixed-dim: rgb(159 202 252);
//     --md-sys-color-on-primary-fixed-variant: rgb(23 73 116);
//     --md-sys-color-secondary-fixed: rgb(214 228 247);
//     --md-sys-color-on-secondary-fixed: rgb(15 28 43);
//     --md-sys-color-secondary-fixed-dim: rgb(186 200 219);
//     --md-sys-color-on-secondary-fixed-variant: rgb(59 72 88);
//     --md-sys-color-tertiary-fixed: rgb(241 218 255);
//     --md-sys-color-on-tertiary-fixed: rgb(36 20 50);
//     --md-sys-color-tertiary-fixed-dim: rgb(214 190 229);
//     --md-sys-color-on-tertiary-fixed-variant: rgb(82 64 96);
//     --md-sys-color-surface-dim: rgb(216 218 224);
//     --md-sys-color-surface-bright: rgb(248 249 255);
//     --md-sys-color-surface-container-lowest: rgb(255 255 255);
//     --md-sys-color-surface-container-low: rgb(242 243 249);
//     --md-sys-color-surface-container: rgb(236 238 244);
//     --md-sys-color-surface-container-high: rgb(230 232 238);
//     --md-sys-color-surface-container-highest: rgb(225 226 232);
// }

// .dark {
//     --md-sys-color-primary: rgb(159 202 252);
//     --md-sys-color-surface-tint: rgb(159 202 252);
//     --md-sys-color-on-primary: rgb(0 50 87);
//     --md-sys-color-primary-container: rgb(23 73 116);
//     --md-sys-color-on-primary-container: rgb(209 228 255);
//     --md-sys-color-secondary: rgb(186 200 219);
//     --md-sys-color-on-secondary: rgb(37 49 64);
//     --md-sys-color-secondary-container: rgb(59 72 88);
//     --md-sys-color-on-secondary-container: rgb(214 228 247);
//     --md-sys-color-tertiary: rgb(214 190 229);
//     --md-sys-color-on-tertiary: rgb(58 41 72);
//     --md-sys-color-tertiary-container: rgb(82 64 96);
//     --md-sys-color-on-tertiary-container: rgb(241 218 255);
//     --md-sys-color-error: rgb(255 180 171);
//     --md-sys-color-on-error: rgb(105 0 5);
//     --md-sys-color-error-container: rgb(147 0 10);
//     --md-sys-color-on-error-container: rgb(255 218 214);
//     --md-sys-color-background: rgb(16 20 24);
//     --md-sys-color-on-background: rgb(225 226 232);
//     --md-sys-color-surface: rgb(16 20 24);
//     --md-sys-color-on-surface: rgb(225 226 232);
//     --md-sys-color-surface-variant: rgb(66 71 78);
//     --md-sys-color-on-surface-variant: rgb(195 199 207);
//     --md-sys-color-outline: rgb(140 145 153);
//     --md-sys-color-outline-variant: rgb(66 71 78);
//     --md-sys-color-shadow: rgb(0 0 0);
//     --md-sys-color-scrim: rgb(0 0 0);
//     --md-sys-color-inverse-surface: rgb(225 226 232);
//     --md-sys-color-inverse-on-surface: rgb(46 49 53);
//     --md-sys-color-inverse-primary: rgb(52 97 142);
//     --md-sys-color-primary-fixed: rgb(209 228 255);
//     --md-sys-color-on-primary-fixed: rgb(0 29 53);
//     --md-sys-color-primary-fixed-dim: rgb(159 202 252);
//     --md-sys-color-on-primary-fixed-variant: rgb(23 73 116);
//     --md-sys-color-secondary-fixed: rgb(214 228 247);
//     --md-sys-color-on-secondary-fixed: rgb(15 28 43);
//     --md-sys-color-secondary-fixed-dim: rgb(186 200 219);
//     --md-sys-color-on-secondary-fixed-variant: rgb(59 72 88);
//     --md-sys-color-tertiary-fixed: rgb(241 218 255);
//     --md-sys-color-on-tertiary-fixed: rgb(36 20 50);
//     --md-sys-color-tertiary-fixed-dim: rgb(214 190 229);
//     --md-sys-color-on-tertiary-fixed-variant: rgb(82 64 96);
//     --md-sys-color-surface-dim: rgb(16 20 24);
//     --md-sys-color-surface-bright: rgb(54 57 62);
//     --md-sys-color-surface-container-lowest: rgb(11 14 19);
//     --md-sys-color-surface-container-low: rgb(25 28 32);
//     --md-sys-color-surface-container: rgb(29 32 36);
//     --md-sys-color-surface-container-high: rgb(39 42 47);
//     --md-sys-color-surface-container-highest: rgb(50 53 58);
// }

:root {
    --md-sys-color-primary: rgb(52 97 142);
    --md-sys-color-surface-tint: rgb(52 97 142);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(209 228 255);
    --md-sys-color-on-primary-container: rgb(23 73 116);
    --md-sys-color-secondary: rgb(83 95 112);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(214 228 247);
    --md-sys-color-on-secondary-container: rgb(59 72 88);
    --md-sys-color-tertiary: rgb(106 87 121);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(241 218 255);
    --md-sys-color-on-tertiary-container: rgb(82 64 96);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(248 249 255);
    --md-sys-color-on-background: rgb(25 28 32);
    --md-sys-color-surface: rgb(248 249 255);
    --md-sys-color-on-surface: rgb(25 28 32);
    --md-sys-color-surface-variant: rgb(223 227 235);
    --md-sys-color-on-surface-variant: rgb(66 71 78);
    --md-sys-color-outline: rgb(115 119 127);
    --md-sys-color-outline-variant: rgb(195 199 207);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(46 49 53);
    --md-sys-color-inverse-on-surface: rgb(239 240 247);
    --md-sys-color-inverse-primary: rgb(159 202 252);
    --md-sys-color-primary-fixed: rgb(209 228 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 53);
    --md-sys-color-primary-fixed-dim: rgb(159 202 252);
    --md-sys-color-on-primary-fixed-variant: rgb(23 73 116);
    --md-sys-color-secondary-fixed: rgb(214 228 247);
    --md-sys-color-on-secondary-fixed: rgb(15 28 43);
    --md-sys-color-secondary-fixed-dim: rgb(186 200 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(59 72 88);
    --md-sys-color-tertiary-fixed: rgb(241 218 255);
    --md-sys-color-on-tertiary-fixed: rgb(36 20 50);
    --md-sys-color-tertiary-fixed-dim: rgb(214 190 229);
    --md-sys-color-on-tertiary-fixed-variant: rgb(82 64 96);
    --md-sys-color-surface-dim: rgb(216 218 224);
    --md-sys-color-surface-bright: rgb(248 249 255);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(242 243 249);
    --md-sys-color-surface-container: rgb(236 238 244);
    --md-sys-color-surface-container-high: rgb(230 232 238);
    --md-sys-color-surface-container-highest: rgb(225 226 232);
}

// @supports (color: light-dark(#fff, #000)) {
//     :root {
//         --md-sys-color-primary: light-dark(rgb(52 97 142), rgb(159 202 252));
//         --md-sys-color-surface-tint: light-dark(rgb(52 97 142), rgb(159 202 252));
//         --md-sys-color-on-primary: light-dark(rgb(255 255 255), rgb(0 50 87));
//         --md-sys-color-primary-container: light-dark(rgb(209 228 255), rgb(23 73 116));
//         --md-sys-color-on-primary-container: light-dark(rgb(23 73 116), rgb(209 228 255));
//         --md-sys-color-secondary: light-dark(rgb(83 95 112), rgb(186 200 219));
//         --md-sys-color-on-secondary: light-dark(rgb(255 255 255), rgb(37 49 64));
//         --md-sys-color-secondary-container: light-dark(rgb(214 228 247), rgb(59 72 88));
//         --md-sys-color-on-secondary-container: light-dark(rgb(59 72 88), rgb(214 228 247));
//         --md-sys-color-tertiary: light-dark(rgb(106 87 121), rgb(214 190 229));
//         --md-sys-color-on-tertiary: light-dark(rgb(255 255 255), rgb(58 41 72));
//         --md-sys-color-tertiary-container: light-dark(rgb(241 218 255), rgb(82 64 96));
//         --md-sys-color-on-tertiary-container: light-dark(rgb(82 64 96), rgb(241 218 255));
//         --md-sys-color-error: light-dark(rgb(186 26 26), rgb(255 180 171));
//         --md-sys-color-on-error: light-dark(rgb(255 255 255), rgb(105 0 5));
//         --md-sys-color-error-container: light-dark(rgb(255 218 214), rgb(147 0 10));
//         --md-sys-color-on-error-container: light-dark(rgb(147 0 10), rgb(255 218 214));
//         --md-sys-color-background: light-dark(rgb(248 249 255), rgb(16 20 24));
//         --md-sys-color-on-background: light-dark(rgb(25 28 32), rgb(225 226 232));
//         --md-sys-color-surface: light-dark(rgb(248 249 255), rgb(16 20 24));
//         --md-sys-color-on-surface: light-dark(rgb(25 28 32), rgb(225 226 232));
//         --md-sys-color-surface-variant: light-dark(rgb(223 227 235), rgb(66 71 78));
//         --md-sys-color-on-surface-variant: light-dark(rgb(66 71 78), rgb(195 199 207));
//         --md-sys-color-outline: light-dark(rgb(115 119 127), rgb(140 145 153));
//         --md-sys-color-outline-variant: light-dark(rgb(195 199 207), rgb(66 71 78));
//         --md-sys-color-shadow: light-dark(rgb(0 0 0), rgb(0 0 0));
//         --md-sys-color-scrim: light-dark(rgb(0 0 0), rgb(0 0 0));
//         --md-sys-color-inverse-surface: light-dark(rgb(46 49 53), rgb(225 226 232));
//         --md-sys-color-inverse-on-surface: light-dark(rgb(239 240 247), rgb(46 49 53));
//         --md-sys-color-inverse-primary: light-dark(rgb(159 202 252), rgb(52 97 142));
//         --md-sys-color-primary-fixed: light-dark(rgb(209 228 255), rgb(209 228 255));
//         --md-sys-color-on-primary-fixed: light-dark(rgb(0 29 53), rgb(0 29 53));
//         --md-sys-color-primary-fixed-dim: light-dark(rgb(159 202 252), rgb(159 202 252));
//         --md-sys-color-on-primary-fixed-variant: light-dark(rgb(23 73 116), rgb(23 73 116));
//         --md-sys-color-secondary-fixed: light-dark(rgb(214 228 247), rgb(214 228 247));
//         --md-sys-color-on-secondary-fixed: light-dark(rgb(15 28 43), rgb(15 28 43));
//         --md-sys-color-secondary-fixed-dim: light-dark(rgb(186 200 219), rgb(186 200 219));
//         --md-sys-color-on-secondary-fixed-variant: light-dark(rgb(59 72 88), rgb(59 72 88));
//         --md-sys-color-tertiary-fixed: light-dark(rgb(241 218 255), rgb(241 218 255));
//         --md-sys-color-on-tertiary-fixed: light-dark(rgb(36 20 50), rgb(36 20 50));
//         --md-sys-color-tertiary-fixed-dim: light-dark(rgb(214 190 229), rgb(214 190 229));
//         --md-sys-color-on-tertiary-fixed-variant: light-dark(rgb(82 64 96), rgb(82 64 96));
//         --md-sys-color-surface-dim: light-dark(rgb(216 218 224), rgb(16 20 24));
//         --md-sys-color-surface-bright: light-dark(rgb(248 249 255), rgb(54 57 62));
//         --md-sys-color-surface-container-lowest: light-dark(rgb(255 255 255), rgb(11 14 19));
//         --md-sys-color-surface-container-low: light-dark(rgb(242 243 249), rgb(25 28 32));
//         --md-sys-color-surface-container: light-dark(rgb(236 238 244), rgb(29 32 36));
//         --md-sys-color-surface-container-high: light-dark(rgb(230 232 238), rgb(39 42 47));
//         --md-sys-color-surface-container-highest: light-dark(rgb(225 226 232), rgb(50 53 58));
//     }
// }

@mixin dark {
    @media screen and (prefers-color-scheme: dark) {
        @content;
    }
}
