@use "@styles/mixins/dark" as *;

.post {
    &-title {
        @apply text-4xl font-bold mb-4;
        color: md-color("primary");
    }

    &-aside {
        border-left: 0.125rem solid md-color("primary");

        @media (min-width: #{$container-width + 32rem}) {
            max-width: calc(48vw - #{$container-width * 0.5});
            float: right;
            transform: translateX(calc(100% + 1rem));
            margin-left: -100%;
            position: sticky;
            top: 1em;

            font-size: 0.8em;
        }
    }

    &-meta {
        color: md-color("secondary");
    }

    &-content {
        blockquote {
            @apply pl-4 mx-0;

            border-left: 0.25rem solid md-color("primary");
            // color: md-color("on-surface-variant");
        }

        hr {
            border: 0;
            border-top: 2px solid md-color("surface-container-highest");
            // @include dark {
            //     border-color: $color-border-dark;
            // }
        }

        sup {
            vertical-align: top;
            position: relative;
            top: -0.2em;

            a[data-footnote-ref] {
                &::before {
                    content: "[";
                }

                &::after {
                    content: "]";
                }
            }
        }

        del {
            // color: rgba(0, 0, 0, 0.6);
            opacity: 0.8;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border: 0;
        }

        code {
            word-break: break-all;
            letter-spacing: -0.01em;
            color: md-color("primary");
            font-size: 0.9em;

            &::before,
            &::after {
                content: "`";
            }
        }

        @include dark {
            .astro-code,
            .astro-code span {
                color: var(--shiki-dark) !important;
                font-style: var(--shiki-dark-font-style) !important;
                font-weight: var(--shiki-dark-font-weight) !important;
                text-decoration: var(--shiki-dark-text-decoration) !important;
            }
        }

        .astro-code {
            background-color: inherit !important;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 2.5rem;
                top: 0;
                bottom: 0;
                border-left: 2px solid md-color("surface-container");
            }

            code {
                color: inherit;

                &::before,
                &::after {
                    content: none;
                }

                counter-reset: step;
                counter-increment: step 0;

                .line {
                    &::before {
                        content: counter(step);
                        counter-increment: step;
                        width: 2rem;
                        margin-right: 1.5rem;
                        display: inline-block;
                        text-align: right;
                        color: md-color("secondary");
                    }
                }
            }
        }
    }
}
