---
import Layout from "@/layouts/Layout.astro";
import { getBlogPosts } from "@lib/posts";
import { getEntry, render } from "astro:content";

export async function getStaticPaths() {
    const posts = (await getBlogPosts()).map((post) => {
        const slug = post.id;
        return {
            params: { slug },
            props: { slug },
        };
    });

    return posts;
}

const post = await getEntry("blog", Astro.props.slug);
if (!post) throw new Error(`Post not found: ${Astro.props.slug}`);
const content = await render(post);
---

<Layout title={post.data.title}>
    <h1>{post.data.title}</h1>
    <content.Content />
</Layout>
