---
import DateMeta from "@/components/DateMeta.astro";
import Layout from "@/layouts/Layout.astro";
import { getBlogPosts } from "@lib/posts";
import { getEntry, render } from "astro:content";

export async function getStaticPaths() {
    const posts = (await getBlogPosts()).map((post) => {
        const slug = post.id;
        return {
            params: { slug },
            props: { slug },
        };
    });

    return posts;
}

const post = await getEntry("blog", Astro.props.slug);
if (!post) throw new Error(`Post not found: ${Astro.props.slug}`);
const content = await render(post);
---

<Layout title={post.data.title}>
    <article class="container mx-auto w-full mt-8 px-6 md:px-0">
        <h1 id="article-title">{post.data.title}</h1>
        <div class="article-meta mb-6">
            <DateMeta post={post} />
        </div>
        <content.Content />
    </article>
</Layout>

<style lang="scss">
    #article-title {
        @apply text-4xl font-bold mb-4;
        color: var(--md-sys-color-primary);
    }

    .article-meta {
        color: var(--md-sys-color-secondary);
    }
</style>

<script>
    const articleTitle = document.getElementById("article-title");

    // articleTitle?.addEventListener("click", () => {
    //     navigator.clipboard.writeText(window.location.href).then(() => {
    //         alert("已复制链接到剪贴板");
    //     });
    // });
</script>