---
import DateMeta from "@components/DateMeta.astro";
import EndOfPage from "@components/EndOfPage.astro";
import Layout from "@layouts/Layout.astro";
import { getPages } from "@lib/posts";
import { getEntry, render } from "astro:content";

export async function getStaticPaths() {
    const posts = (await getPages()).map((post) => {
        const slug = post.id;
        return {
            params: { slug },
            props: { slug },
        };
    });

    return posts;
}

const post = await getEntry("pages", Astro.props.slug);
if (!post) throw new Error(`Post not found: ${Astro.props.slug}`);
const content = await render(post);

import "@styles/post.scss";
---

<Layout title={post.data.title}>
    <article class="container mx-auto w-full mt-8">
        <h1 id="post-title">{post.data.title}</h1>
        <div class="post-meta mb-6">
            <DateMeta post={post} />
        </div>
        <main class="post-content">
            <content.Content />
        </main>
        <EndOfPage />
    </article>
</Layout>

<script>
    import mediumZoom from 'medium-zoom'

    mediumZoom('.post-content img:not(.medium-zoom-image)', {
        margin: 16,
        background: 'light-dark(rgb(248 249 255), rgb(16 20 24))',
    });
</script>
