---
import Layout from "../layouts/Layout.astro";

import config from "@config";
import { getBlogPosts } from "@/lib/posts";
import PostEntry from "@/components/PostEntry.astro";

let posts = await getBlogPosts();
---

<Layout>
    <main class="container mx-auto w-full mt-8">
        <h1><img src="/favicon.ico" class="avatar" alt="Avatar" />{config.name}</h1>
        <p class="text-xl mt-2 mb-8">{config.description}</p>
        <section class="container mx-auto w-full mt-8 flex flex-col gap-6">
            {posts.map((post) => <PostEntry post={post} />)}
        </section>
    </main>
</Layout>

<style lang="scss">
    h1 {
        @apply gap-3 text-4xl font-bold my-0;

        display: inline-flex;
        align-items: center;

        .avatar {
            @apply inline-block rounded-full;

            width: 1em;
            height: 1em;
        }

        & + p {
            color: md-color("secondary");
        }
    }
</style>
