---

---

<div class="post-end"></div>

<style lang="scss">
    .post-end {
        @apply my-12;

        position: relative;
        color: md-color("surface-container-highest");
        border-bottom: 0.2em dashed md-color("surface-container-high");
        // @include dark {
        //     border-bottom-color: $color-border-dark;
        // }
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: md-color("background");
            padding: 0.5em;
            content: "完";
        }
    }