---
import type { CollectionEntry } from "astro:content";
import DateMeta from "@/components/DateMeta.astro";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<section class="post-entry w-full">
    <a href={`/archives/${post.id}`} class="text-2xl font-bold">
        {post.data.title}
    </a>

    <div class="entry-meta my-1">
        <DateMeta post={post} />
    </div>

    <div>
        {post.data.description}
    </div>
</section>

<style lang="scss">
    .post-entry {
        background-color: md-color("surface-container-lowest");
        border: 0.2rem solid md-color("surface-container-highest");
        border-radius: 0.1875rem;
        box-shadow: 0.2rem 0.25rem md-color("surface-container");

        @apply p-6;
    }

    .entry-meta {
        color: md-color("secondary");
    }
</style>