---
import Base from "@layouts/partial/Base.astro";
import Header from "@layouts/partial/Header.astro";
import Footer from "@layouts/partial/Footer.astro";
import config from "@config";
import ColorScheme from "@components/ColorScheme.astro";

interface Props {
    title?: string;
    lang?: string;
}

let { title, lang } = Astro.props;
title = title ? `${title} | ${config.name}` : config.name;
lang = lang || "zh-Hans";
---

<Base title={title} lang={lang}>
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
</Base>
